framework: auto-detect
source http://nuget.org/api/v2

nuget FAKE
nuget FsUnit
nuget NUnit 2.6.4
nuget NUnit.Runners 2.6.4
nuget Nuget.CommandLine
nuget RazorEngine
nuget Suave
nuget FSharp.Data
nuget Suave.Testing